<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Passionate Interior Designer</span>
                <span class="section-heading-lower">About Shirin</span>
              </h2>
              <p>I was born and raised in Isfahan, Iran, a UNESCO World Heritage Site known for its beautiful architecture. My love of design, nurtured and inspired by the beauty that surrounded me as a child, has carried over into my life today within the natural wonders of the Seattle area. My approach is also informed by my 15 years as a medical laboratory technician where a patient’s health depended on the accuracy of what I observed through my microscope. I was a perfectionist in that role and I am a perfectionist today in my design work.</p>
              <p class="mb-0">With the strong encouragement of friends and family, I have launched my own business after working as a volunteer to create decorations for festive tables and celebrations of many types, including the Persian New Year. The materials I use are always of the highest quality. My goal is to make your design dreams come true for your happy and special day.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
