<div class="wrapper">
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Shirin Chic Design</span>
              <span class="section-heading-lower">Services</span>
            </h2>
            <p class="mb-0 service-p">At Chic Designs Sofreh we provide distinctive “event design” artistry with an exquisite approach. Our expertise is in creating the Persian ceremonial set up known as the Sofreh Aghd. We pride ourselves in making custom designs for our cherished clients. Our mission is to partner with you to offer grand, innovative, custom designed concepts which will match the unique style, color and theme of your special day. Our customer service is known for impeccable style, agile, responsive and agile, responsive quality service. Your dream "Sofreh Aghed" awaits you. Looking forward to working together to create and set up an elegant, sophisticated and grand "Sofreh Aghed" for YOU! Services Offered:</p>
            <button class="btn btn-primary">Sofreh Aghd (Persian Wedding Table)</button>
            <button class="btn btn-primary">Grand Party Design</button>
            <button class="btn btn-primary">Aisle Design</button>
            <button class="btn btn-primary">Engagement & Bridal Shower</button>
            <button class="btn btn-primary">Corporate Event Design</button>
            <button class="btn btn-primary">Full Designs & Decoration</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>